<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->
   <link rel="stylesheet" href="/static/styles_04.css">
  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">

  <title>NFT Preview</title>


</head>
<body>

<h1>Preview for Your NFT!</h1>
<div class="card">
  <img src="static/pikachu.png" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Pokemon Name</b></h4>
    <p>Pokemon Value 01</p>
    <p>Pokemon Value 02</p>
    <button class="custom-button"> Mint NFT </button>
  </div>



</div>



</body>


</html>